__pycache__/
*.pyc
temp_upload*
dataset/yellow_sticky_traps/labels/
dataset/yellow_sticky_traps/images/*.jpg
!dataset/yellow_sticky_traps/images/1187.jpg
!dataset/yellow_sticky_traps/images/1004.jpg
!dataset/yellow_sticky_traps/images/1252.jpg
dataset/yellow_sticky_traps/data.yaml
data.yaml
runs/train/
runs/model/
demos/
references/
scripts/
yolo11n.pt
*.md
启动.bat
